<div class="row no-gutters">
    <label class="col m-0 p-0" routerLink="/home"><img src="/assets/img-logo/homeIcon.png" width="20px" height="15px" class="img1"></label>

    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px" > </label>
        <label> Dashboard [D] </label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label> Inventary [I] </label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label  routerLink="/bill-add-purchase-list"> Outlets [O] </label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label routerLink="/product-list"> Products [P] </label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label> Internal ship [I] </label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label  routerLink="/product-purchase-list"> Orders [O]</label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label  routerLink="/purchase-list"> Purchase [P]</label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label> Customers [C] </label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label  routerLink="/supplier-list"> Suppliers [S]</label>
    </label>
    <label class="col m-0 p-0">
        <label> <img src="/assets/img-logo/dashboard1.svg" width="13px" height="25px"> </label>
        <label>  Barcode [L]</label>
    </label>
</div>
