<div class="add-main" style="width: 100%; height: 100%;">

    <nav class="navbar navbar-light">
        <a class="navbar-brand"> Create a new product </a>
    </nav>


    <div class="container bg-white">
        <div class="row">
            <div class="add-data">
                <div class="card" style="width: 6rem;">
                    <img src="/assets/img-logo/add.png" alt="Card image cap">
                </div>

                <form class="example-form">

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Specify Product name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Specify Product Print name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>




                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <p>Is product packed or loose?</p>
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="1">Piece</mat-radio-button>
                                    <mat-radio-button value="2">loose</mat-radio-button>
                                </mat-radio-group>
                            </td>
                            <td>

                                <mat-form-field class="searchCat" >
                                    <mat-label>Search Category </mat-label>
                                    <mat-select>
                                        <mat-option></mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Specify Brand name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Hsn</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field >
                                    <mat-label>Select nature </mat-label>
                                    <mat-select>
                                        <mat-option></mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Short Description</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <div class="example-button-row">
                                    <button mat-raised-button>Cancel</button>
                                </div>
                            </td>
                            <td>
                                <div class="example-button-row">
                                    <button class="example-button-row2" mat-raised-button> Create Product </button>
                                </div>
                            </td>
                        </tr>
                    </table>

                </form>

            </div>
        </div>
    </div>
</div>