<div class="col-12"></div>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">

      <div class="row">
        <div class="card">
          <div class="card-img">

            <img src="/assets/img-logo/dash1.png" width="200px">
          </div>
          <div class="card-footer bg-transparent border-none m-0 p-0">
            <label class="label1 text-left">Dashboard</label>
            <label class="label2 text-right">[1]</label>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="card">
          <div class="card-img">

            <img src="/assets/img-logo/warehouse2.png" width="200px">
          </div>
          <div class="card-footer bg-transparent border-none m-0 p-0">
            <label class="label1 text-left">WareHouse Inventary</label>
            <label class="label2 text-right">[2]</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="card">
          <div class="card-img">

            <img src="/assets/img-logo/warehouse2.png" width="200px">
          </div>
          <div class="card-footer bg-transparent border-none m-0 p-0">
            <label class="label1 text-left">Outlet Inventary</label>
            <label class="label2 text-right">[3]</label>
          </div>


        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="card">
          <div class="card-img">

            <img src="/assets/img-logo/outlets4.png" width="200px">
          </div>
          <div class="card-footer bg-transparent border-none m-0 p-0">
            <label class="label1 text-left">Outlets</label>
            <label class="label2 text-right">[4]</label>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div routerLink="/product-list" class="card">
          <div class="card-img">

            <img  src="/assets/img-logo/products5.png" width="200px">
          </div>
          <div class="card-footer bg-transparent border-none m-0 p-0">
            <label class="label1 text-left">Product</label>
            <label class="label2 text-right">[5]</label>
          </div>

        </div>
      </div>
    </div>
  </div>


<!-- second -->


<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-2 ">

    <div class="row">
      <div class="card">
        <div class="card-img">

          <img src="/assets/img-logo/internal6.png" width="200px">
        </div>

        <div class="card-footer bg-transparent border-none m-0 p-0">
          <label class="label1 text-left">Internal Shipping Warehouse</label>
          <label class="label2 text-right">[6]</label>
        </div>

      </div>
    </div>

  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="card">
        <div class="card-img">

          <img src="/assets/img-logo/internal6.png" width="200px">
        </div>
        <div class="card-footer bg-transparent border-none m-0 p-0">
          <label class="label1 text-left">Internal shipping to outlet</label>
          <label class="label2 text-right">[7]</label>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="card">
        <div class="card-img">

          <img src="/assets/img-logo/order7.png" width="200px">
        </div>
        <div class="card-footer bg-transparent border-none m-0 p-0">
          <label class="label1 text-left">Order to suppliers</label>
          <label class="label2 text-right">[8]</label>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="card">
        <div class="card-img">

          <img src="/assets/img-logo/order7.png" width="200px">
        </div>
        <div class="card-footer bg-transparent border-none m-0 p-0">
          <label class="label1 text-left">order from customer</label>
          <label class="label2 text-right">[9]</label>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div routerLink="/purchase-list" class="card">
        <div class="card-img">

          <img src="/assets/img-logo/purchase8.png" width="200px">
        </div>
        <div class="card-footer bg-transparent border-none m-0 p-0">
          <label class="label1 text-left">Purchase</label>
          <label class="label2 text-right">[0]</label>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- </div> -->


<!-- third -->



<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-2 col-md-offset-1">

    <div class="row">
      <div class="card">
        <div class="card-img">

          <img src="/assets/img-logo/login9.png" width="200px">
        </div>
        <div class="card-footer bg-transparent border-none m-0 p-0">
          <label class="label1 text-left">Customers</label>
          <label class="label2 text-right">[-]</label>
        </div>

      </div>
    </div>

  </div>
  <div class="col-md-2">
    <div class="row">
      <div routerLink="/supplier-list" class="card">
        <div class="card-img">

          <img src="/assets/img-logo/suppliers10.png" width="200px">
        </div>
        <div class="card-footer bg-transparent border-none m-0 p-0">
          <label class="label1 text-left">Suppliers</label>
          <label class="label2 text-right">[+]</label>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="card">
        <div class="card-img">

          <img src="/assets/img-logo/barcode.png" width="200px">
        </div>
        <div class="card-footer bg-transparent border-none m-0 p-0">
          <label class="label1 text-left">Create a custom barcode</label>
          <label class="label2 text-right">[*]</label>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- </div> -->

</div>



<!-- <section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="blog-box">

            <img src="/assets/img-logo/dash1.png" width="150" height="150" />
           
            <div class="card-footer bg-transparent border-none">Dashboard</div>
            
          </div>
        </div>
        <div class="col-md-3">
          <div class="blog-box">
            <img src="/asses/mobile-images.jpeg" width="150" height="150" />
            <h3>Sample blog post 2</h3>
            <p>by <span>Website</span> on <span>October 22, 2021</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="blog-box">
            <img src="/assets/tv_img_download.jpeg" width="150" height="150" />
            <h3>Sample blog post 3</h3>
            <p>by <span>Website</span> on <span>Feb 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="blog-box">
            <img src="/assets/tv_img_download.jpeg" width="150" height="150" />
            <h3>Sample blog post 4</h3>
            <p>by <span>Website</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="blog-box">
            <img src="/assets/mobile-images.jpeg" width="150" height="150" />
            <h3>Sample blog post 5</h3>
            <p>by <span>Website</span> on <span>Feb 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="blog-box">
            <img src="/assets/laptopimage1.jpeg" width="150" height="150" />
            <h3>Sample blog post 6</h3>
            <p>by <span>Website</span> on <span>Feb 22, 2012</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-2">
            <div class="blog-box">
              <img src="/assets/laptopimage1.jpeg" width="150" height="150" />
              <h3>Sample blog post 6</h3>
              <p>by <span>Website</span> on <span>Feb 22, 2012</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              <a href="detail.html" class="btn btn-danger">Read more...</a>
            </div>
          </div>

          <div class="col-md-2">
            <div class="blog-box">
              <img src="/assets/laptopimage1.jpeg" width="150" height="150" />
              <h3>Sample blog post 6</h3>
              <p>by <span>Website</span> on <span>Feb 22, 2012</span></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              <a href="detail.html" class="btn btn-danger">Read more...</a>
            </div>
          </div>
      </div>
    </div>
  </section>
   -->